BODY { 
scrollbar-face-color: F2F2F2; 
scrollbar-highlight-color: cccccc; 
scrollbar-3dlight-color: F2F2F2; 
scrollbar-darkshadow-color: F2F2F2; 
scrollbar-shadow-color: cccccc; 
scrollbar-arrow-color: gray; 
scrollbar-track-color: white; 
} 
.borde_gris_debajo {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #EBE9ED;
}


a:hover {  color: #000000; text-decoration: underline}
.link {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #333333;}
.vlink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #FF8C40;}
.alink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #FF8C40;}
.link2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #333333; text-decoration:none;}
.link3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #333333;}
.link4 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #FFFFFF; text-decoration:none;}

a:link10 {  color: #000000; text-decoration: underline}
.link10 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #333333;text-decoration:none;}


.linkpagina:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #EC6209; text-decoration:none}

.linkpagina {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #000000; text-decoration:none}

.body-text0 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9.5px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #333333; text-decoration: none}
.body-text1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #333333; text-decoration: none}
.body-text2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12.5px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #333333; text-decoration: none}
.body-text44 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; color: #333333; text-decoration: none}

.body-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #333333;
	text-decoration: none
}
.titulo_curso {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	background-image: url(imagenes/degradado.jpg);
	background-repeat:  repeat-x;
}

.home-title {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #333333; text-decoration: none}
.index-titles {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #333333; text-decoration: none}
.bg-color {scrollbars:no; border:1;  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; background-color:#FF0000; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #FFFFFF; text-decoration: none}
.INPUT {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
.stepactive {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.controles1 {background-color:white;font-family: Verdana,Arial, Helvetica, sans-serif;font-size: 12px;border-style:groove;}

.stepinactive {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.stepinactive:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.styleh6 {font-size: xx-small}.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #E5E5E5;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.menu_derecha {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #E5E5E5;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
}
.text10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.bordes_gris {
	border: 1px solid #999999;
	background-color: #E8E8E8;
}
.borde_gris_abajo_fuente {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EBE9ED;
}
.borde_gris_fuente10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EBE9ED;
}
.verdana_red {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
}
.lineaverde {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #6AB60E;
}
.letra_gris_linea verde {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #6AB60E;
}
.borde5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 5px;
	color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #6AB60E;
}
.borde_sin_cabeza  {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #EBE9ED;
	border-bottom-color: #EBE9ED;
	border-left-color: #EBE9ED;
}
.diploma {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
}
.borde_gris_debajoTAHOMA {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #EBE9ED;
	font-family: Tahoma;
	font-size: 10px;
	color: #000000;
}
.trebuchet {
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight: bold;
}
.trebuchet-blanca {
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
}
.trebuchet-gris {
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight: bold;
	color: #999;
}
