/****************************************************************/
/***********************New Sortable Style***********************/

/*
   Add the following to your CSS file should you wish the cursor to
   "wait" while the script is processing the sort

body.sort-active *
        {
        cursor:wait;
        }
*/

#table-content table
        {
        width: 700px;
        padding: 0;
        margin: 0 auto 1.5em auto;
        /*border-left: 1px solid #C1DAD7;*/
        /*border: 1px solid #c4c4c4;*/
        border-collapse:collapse;
        }
#table-content .cs1
        {
        width:30em;
        }
#table-content .cs2
        {
        width:20em;
        }
#table-content .cs1 td,
#table-content .cs2 td,

#scientificNotation
        {
        text-align:right;
        }

#table-content caption
        {
        padding: 0 0 5px 0;
        margin:0 auto;
        width:auto;
        font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        text-align: right;
        }
#table-content th
        {
        font: bold 10px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        color: #808080;
				border: 1px solid #c4c4c4;
        /*border-right: 1px solid #C1DAD7;*/
        /*border-bottom: 1px solid #C1DAD7;*/
        /*border-top: 1px solid #C1DAD7;*/
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        padding: 8px 12px 4px 12px;
        /*background: #c0c0c0 url(../css/images/bg_header.jpg) no-repeat;*/
        background: #f0f0f0;
        vertical-align:middle;
				text-align:center !important;
        }
#table-content td.total
        {
        border-top: 0;
        border-left: 0;
        /*border-right: 1px solid #C1DAD7;*/
        border: 1px solid #f0f0f0;
        background: none;
        text-align:right;
        font-weight:bold;
        text-transform:uppercase;
        letter-spacing:1px;
        }

th.sortable,
th.sortable-text,
th.sortable-date,
th.sortable-keep,
th.sortable-date-dmy,
th.sortable-numeric,
th.sortable-currency,
th.sortable-sortByTwelveHourTimestamp,
th.sortable-sortIPAddress,
th.sortable-sortEnglishLonghandDateFormat,
th.sortable-sortScientificNotation,
th.sortable-sortImage,
th.sortable-sortFileSize,
th.sortable-sortAlphaNumeric,
th.sortable-sortEnglishDateTime

        {
        cursor:pointer;
        background: #f0f0f0 url(../css/images/bg_header_sortable.png) no-repeat;
        padding: 8px 12px 4px 16px;
        }
th.forwardSort
        {
        background:#f0f0f0 url(../css/images/bg_header_down.png) no-repeat 0 0;
        }
th.reverseSort
        {
        background:#f0f0f0 url(../css/images/bg_header_up.png) no-repeat 0 0;
        }
#table-content table thead th.forwardSort a,
#table-content table thead th.reverseSort a
        {
        color:#000;
        text-decoration:none;
        }

These styles should be added when very long tables are expected
th.sort-active
        {
        /*background:#CAE8EA url(../css/images/bg_header_sorting.jpg) no-repeat 0 0;*/
        cursor:wait;
        }
th.sort-active a
        {
        color:#a80000 !important;
        cursor:wait;
        }

#table-content th a
        {
        text-decoration:none;
        color: #804040;
        background:transparent;
        }
#table-content td a
        {
        text-decoration:none;
        color:#7d7d7d;
        background:transparent;
        }
#table-content td img
        {
        margin:0 auto;
        border:3px solid #ddd;
        }
#table-content td a:hover
        {
				color: #92b22c;
				text-decoration:underline;
        background:transparent;
        }
#table-content td
        {
				font-size:11px;
        font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        border-right: 1px solid #C1DAD7;
        border-bottom: 1px solid #C1DAD7;
        border: 1px solid #c4c4c4;
        /*padding: 6px 12px 6px 12px;*/
        color: #7a7a7a;
				vertical-align:middle;
				border-collapse:collapse;
				text-align:center;
        }
#table-content td.lft
        {
        text-align:left;
        }
#table-content tr.alt
        {
        background: #F5FAFA;
        color: #797268;
        }

/* Poor old Internet Explorer 6 has a bug that means we can't use background images for the table rows
   as it trys to download the image each and every time that it is used (which means a 1000 row table
   will produce 1000 http requests for the image in question) */
tr[class="alt"] td
        {
        /*background: #F5FAFA url(../css/images/td_alt.jpg) no-repeat;*/
        background-color: #fbfbfb;
        }
td[class~="alt"]
        {
        /*background: #edf3f3 url(../css/images/col_alt.jpg) no-repeat !important;*/
        background-color: #fbfbfb;
        }
/* Poor old Internet Explorer won't see the next two rules either as it doesn't get :first-child */
/*tbody tr.alt td:first-child*/
/*        {*/
/*        background: #F5FAFA url(../css/images/bullet2.gif) no-repeat;*/
/*        background-color: #fbfbfb;*/
/*        /*font-weight:bold;*/*/
/*        }*/
/*tbody tr td:first-child*/
/*        {*/
/*        background: #fff url(../css/images/bullet1.gif) no-repeat;*/
/*        background-color: #fff;*/
/*        /*font-weight:bold;*/*/
/*        }*/
/* Image free rules for Internet Explorer < 7 */
* html tr.alt td
        {
        background-color:#F5FAFA;
        }
* html tr td.alt,
* html tr.alt td.alt
        {
        background-color:#F5FAFA;
        }
        
/* Pagination list styles */
ul.fdtablePaginater
        {
        display:table;
        list-style:none;
        padding:0;
        margin:0 auto;
        text-align:center;
        height:2em;
        width:auto;
        margin-bottom:2em;
        }
ul.fdtablePaginater li
        {
        display:table-cell;
        padding-right:4px;
        color:#666;
        list-style:none;
        
        -moz-user-select:none;
        -khtml-user-select:none;
        }
ul.fdtablePaginater li a.currentPage
        {
        border-color:#a84444 !important;
        color:#000;
        }
ul.fdtablePaginater li a:active
        {
        border-color:#222 !important;
        color:#222;
        }
ul.fdtablePaginater li a,
ul.fdtablePaginater li div
        {
        display:block;
        width:2em;
        font-size:8pt;
        color:#666;
        padding:0;
        margin:0;
        text-decoration:none;
        outline:none;
        border:1px solid #ccc;
        /*font-family:georgia, serif;*/
        }
ul.fdtablePaginater li div
        {
        cursor:normal;
        opacity:.5;
        filter:alpha(opacity=50);
        }
ul.fdtablePaginater li a span,
ul.fdtablePaginater li div span
        {
        display:block;
        line-height:2em;
        border:1px solid #fff;
        background:#fff url(../css/images/gradient.gif) repeat-x 0 -20px;
        }
ul.fdtablePaginater li a
        {
        cursor:pointer;
        }
ul.fdtablePaginater li a:focus
        {
        color:#333;
        text-decoration:none;
        border-color:#aaa;
        }
.fdtablePaginaterWrap
        {
        text-align:center;
        clear:both;
        text-decoration:none;
        }
ul.fdtablePaginater li .next-page span,
ul.fdtablePaginater li .previous-page span,
ul.fdtablePaginater li .first-page span,
ul.fdtablePaginater li .last-page span
        {
        font-weight:bold !important;
        }
/* Keep the table columns an equal size during pagination */
td.sized1
        {
        width:16em;
        text-align:left;
        }
td.sized2
        {
        width:10em;
        text-align:left;
        }
td.sized3
        {
        width:7em;
        text-align:left;
        }
tfoot td
        {
        text-align:right;
        font-weight:bold;
        text-transform:uppercase;
        letter-spacing:1px;
        }
#visibleTotal
        {
        text-align:center;
        letter-spacing:auto;
        }
* html ul.fdtablePaginater li div span,
* html ul.fdtablePaginater li div span
        {
        background:#eee;
        }
tr.invisibleRow
        {
        display:none;
        visibility:hidden;
        }
p.paginationText
        {
        font-style:oblique;
        }

/**********************End New Sortable Style********************/
/****************************************************************/

/* Album ----------------------------------------- */

	table.gallery{
		border: solid 1px #ffffff;
		border-collapse:collapse;
		padding:0;
		text-align:center;
	}

	table.gallery tr td{
		border: none !important;
		border-collapse:collapse;
		padding:0;
		margin:0;
		background-image:none;
		text-align:center;
	}
	
	.album{
	  width:100%;
		float:left;
	}

	.album img{
		border: 3px solid #ebebeb;
	}
	
  .album a{
    color: #333;
    text-decoration:none;
  }

  .album a:active{
    color: #333;    
    text-decoration:none;
  }
  
  .album a:visited{
    color: #333;    
    text-decoration:none;
  }

  .album a:hover{
    color: #92b22c;
    text-decoration:underline;
  }

	.album .imageSingle {
		float: left;
		padding-top:10px;
		padding-left:10px;
		margin: 15px; 
		width:256px; 
		text-align:left; 
		border:solid 1px #f2f2f2;
	}
	
	.album .imageSingle .image {
		margin:3px;
	}

	.album .footer {
		text-align:left;
		line-height:17px;
		border-top:solid 1px #f2f2f2; 
		padding:7px; 
		margin-top: 10px;
	}

.album .icon{
	border:none !important;
	text-decoration: none;
	padding:0px 2px 0px 2px;
}

.album .caption{
	float: right;
	padding-right:10px;
	width:120px;
}
	
.album .actions{
	text-align:left;
	padding-top:5px;
	padding-right:10px;
	width:120px;
	border-top:solid 1px #f2f2f2; 
}