@charset "utf-8";
.cuerpo {
	font-family: Arial, Helvetica, sans-serif;
	height: 30em;
	width: 100%;
}
.elFrame {
	font-family: Arial, Helvetica, sans-serif;
	background-position: left;
	height: 100%;
	width: 100%;
}
.bannerRamp {
	background-image: url(../images/repeat.jpg);
}
.Ramp {
	background-color: #CCCCCC;
}
#sidebar1 {
	position: relative;
}
.rampPie {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000000;
	text-align: right;
	height: 20px;
}
.paraElmenu {
	border-right-width: medium;
	border-right-style: groove;
	border-right-color: #666666;
}
.presentaciones {
	background-image: url(../images/presentacionesDispo.jpg);
	background-color: #FFFFFF;
	width: 100%;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	text-indent: 10px;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #E1E1E1;
}
.textoReport {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
}
.tablatop {
	background-position: left top;
	text-align: left;
	vertical-align: top;
}
.xraLaImagen {
}
