		table{
			width:700px;
		}
		
		#wrapper {
			width: 700px;
			margin: 0;
			padding:0;			
		}
		
		#sortlist a, #sortlist2 a, #sortlist3 a, #sortlist4 a {
			font-weight:bold;
			text-decoration:none;
			color:#7A7A7A;
		}
				
		#sortlist, #sortlist2, #sortlist3, #sortlist4 {
			width: 280px;
			margin: 0;
			padding: 20px;
			float: left;
			margin:10px;
			border: 1px solid #a5a1a1;
			text-align:left;
		}
		#sortlist li.sorting,  #sortlist2 li.sorting, #sortlist3 li.sorting, #sortlist4 li.sorting {
				float: left; 
				/*		display: -moz-inline-box;		/* old FireFox doesn't know inline-block 
				display: inline-block;*/
				margin: 4px;
				padding: 4px;
				border: 1px solid #ccc;
		}
		
		#sortlist li.sorting:hover, #sortlist2 li.sorting:hover, #sortlist3 li.sorting:hover, #sortlist4 li.sorting:hover { 
			float: left;
			margin: 4px;
			padding: 4px;
			border: 1px solid #666; 
			cursor: move;
		}
		
		#sortlist li,#sortlist2 li, #sortlist3 li, #sortlist4 li {
			list-style:none;
			padding:5px 0px 5px 10px;
			border:1px solid #7A7A7A;
			margin-bottom:5px;
			background-color:#f0f0f0;
		}
		
		#activityIndicator, #changeNotification {
			text-align: center;
			font: normal 1em georgia, arial, helvetica;
		}
		h1 {
				font: normal 2em georgia, arial, helvetica;
				margin: 0;
				padding: 0;
				color: #D35619;
		}
		#tagLine {		
				color: #d39819;
				margin: 0 0 15px 0;
				font-style: italic;
				font-size: 1.05em;
				font-family: georgia, arial, helvetica;
		}		
		#credits {
			font: normal 66% verdana, helvetica, arial; 
			padding: 0.5em 0;
			margin: 2em 0; 
			border-top: 1px dotted #c0c0c0;
			border-bottom: 1px dotted #c0c0c0;
		}		